h1{
    color: red;
    font-size: 40px;
}
p{
    font-size: 25px;
    text-align: justify;
    }
body{
    background-color: whitesmoke;
    font-family: Arial;
    margin: 0;
}
#branco{
background-color: white;
width: 100px;
}
#vermelho{
background-color: red;
width: 100px;
}
#preto{
background-color: black;
width: 40px;
}
